# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Build stuff
Debug/*

# Documentation
doc/*

# External libraries
external/*

# Eclipse
.project
.cproject
